    <nav class="top-bar" data-topbar role="navigation" data-bind="foundation:'topbar'">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#"><i class="fa fa-home"></i>Bitcadia</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">          
          {{#foreach router.navigationModel()}}
          <li data-bind="css.active: isActive">
              <a href="{{hash}}" class="hvr-shutter-out-vertical">{{{title}}}</a>
          </li>
          {{/foreach}}
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><a data-bind="click: switchLang " class="hvr-shutter-out-vertical">{{ko.t("shell:Lang")}}</a></li>
        </ul>
      </section>
    </nav>
    <div class="row">
        <div class="small-12">
            <div class="container-fluid page-host" data-bind="router: { transition:'entranceSlide', cacheViews:true }"></div>
        </div>
    </div>