<ul class="vcard">
    <li class="fn">{{Name}}</li>
    <li class="street-address">{{Street}}</li>
    <li class="locality">{{City}}</li>
    <li><span class="state">{{State}}</span>, <span class="zip">{{Zip}}</span></li>
    <li class="text-large">
        <span class="fa-lg">
            <a class="hvr-grow" href="mailto:{{Email}}"><i class="fa fa-envelope"></i></a>
            <a class="hvr-grow" href="{{Github}}"><i class="fa fa-lg fa-github"></i></a>
            <a class="hvr-grow" href="{{Linkedin}}"><i class="fa fa-lg fa-linkedin"></i></a>
            <a class="hvr-grow" href="{{Stackoverflow}}"><i class="fa fa-lg fa-stack-overflow"></i></a>
        </span>
    </li>
</ul>